.noti_container {
    position: absolute;
    width: 445px;
    top: 65px;
    right: 110px;
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;

    max-height: 60vh;
    font-family: 'Roboro', sans-serif;
}

.noti_list::-webkit-scrollbar {
    width: 8px;
    /* Adjust width for a thin appearance */
    height: 8px;
    /* For horizontal scrollbars */
}

.noti_list::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light gray background */
    border-radius: 4px;
    /* Rounded edges for a mobile feel */
}

.noti_list::-webkit-scrollbar-thumb {
    background: #888;
    /* Gray thumb */
    border-radius: 4px;
    /* Rounded edges */
}

.noti_list::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Slightly darker on hover */
}

.noti_list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.noti_msg {
    padding: 10px;
    border-radius: 8px;
    background-color: #E8F4FF;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.btnSeeMore {
    padding: 10px 20px;
    max-width: max-content;
    margin: 0 auto;
    border-radius: 8px;
    color: #FFF;
    background-color: #3582cd;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.noti_msg_time {
    font-style: italic;
}

.noti_msg_tt {
    font-weight: bold;
    color: #f8971c;
}

.noti_msg_link_group {
    display: flex;
    width: 100%;
    gap: 5px 20px;
    flex-wrap: wrap;
}

.noti_msg_link {
    color: #3582cd !important;
}

@media screen and (max-width: 1022.5px) {
    .noti_container { 
        right: 25px;
    }
}

@media screen and (max-width: 500px) {
    .noti_container {
        width: calc(100% - 50px);
        left: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 360px) {
    .noti_container {
        width: 100%;
        left: 0px;
        right: 0px;
    }
}