# Web Framework
fastapi
uvicorn
python-multipart
pydantic

# Environment variables
python-dotenv

# Database & Vector Search
chromadb
pandas
numpy

# AI & Embeddings
sentence-transformers
torch
google-genai  