.container {
    width: 100%;
    font-family: "Roboto";
    position: relative;

    .search_container {
        width: 100%;
        height: 65px;
        padding: 7px 8px;
        background-color: white;
        border-radius: 35px;

        .sub_container {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: space-between;

            .search_component_container {
                display: flex;
                align-items: center;
                flex-grow: 1;

                .search_component {
                    flex-grow: 1;
                    padding: 0 15px;
                    display: flex;
                    gap: 10px;

                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-grow: 0;
                    }

                    input[type="text"] {
                        flex-grow: 1;
                        padding: 5px;
                        outline: none;
                        border: none;
                        font-size: 16px;
                    }

                    .external_component_container {
                        flex-grow: 1;
                    }
                }
            }

            .search_button {
                width: 123px;
                padding: 16px 20px;
                background: #3582cd;
                color: #fff;
                border-radius: 50px;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                text-align: center;
                cursor: pointer;

                user-select: none;
                -moz-user-select: -moz-none;
                -webkit-user-select: none;
            }
        }
    }

    .list_container {
        position: absolute;
        top: 70px;
        left: 20px;
        display: flex;
        width: 1000px;
        max-height: 300px;
        z-index: 100;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px;
        border: solid 1px black;
        gap: 10px;

        .close_btn {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .recent_search_container {
            flex-grow: 1;
            max-width: 33%;
            max-height: 300px;
            border-right: solid 1px lightgray;
            padding: 10px;

            .title {
                height: 30px;
                font-size: 13px;
                color: gray;
            }

            ul {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                list-style-type: none;
                padding: 10px;
                gap: 10px;
                overflow: auto;
                scrollbar-width: thin;
                max-height: calc(100% - 30px);

                li {
                    width: 100%;
                    user-select: none;
                    -moz-user-select: -moz-none;
                    -webkit-user-select: none;

                    cursor: pointer;
                }

                .bold {
                    font-weight: 600;
                }
            }
        }

        .popular_search_container {
            flex-grow: 2;
            max-width: 66%;
            max-height: 300px;
            padding: 10px;

            .title {
                height: 30px;
                font-size: 13px;
                color: gray;
            }

            ul {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                list-style-type: none;
                padding: 10px;
                gap: 10px;
                overflow: auto;
                scrollbar-width: thin;
                max-height: calc(100% - 30px);

                li {
                    width: 48%;

                    user-select: none;
                    -moz-user-select: -moz-none;
                    -webkit-user-select: none;

                    cursor: pointer;
                }
            }
        }
    }

    .search_container_mb {
        display: none;

        .search_component {
            background-color: white;
            padding: 10px 20px;
            border-radius: 30px;
            display: flex;
            gap: 10px;
            max-height: 50px;
            margin-bottom: 20px;
            align-items: center;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 0;
            }

            input[type="text"] {
                flex-grow: 1;
                padding: 5px;
                outline: none;
                border: none;
                font-size: 16px;
            }

            .external_component_container {
                flex-grow: 1;
            }
        }

        .search_button {
            background-color: #f8971c;
            padding: 10px 20px;
            border-radius: 30px;
            display: flex;
            gap: 10px;
            height: 50px;
            justify-content: center;
            align-items: center;

            .search_btn_txt {
                color: white;
                font-weight: 500;
            }
        }
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        .list_container {
            width: 700px;

            .recent_search_container {
                max-width: 48%;
            }

            .popular_search_container {
                flex-grow: 1;
                max-width: 48%;

                ul {
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .container {
        .list_container {
            width: 700px;

            .recent_search_container {
                max-width: 48%;
            }

            .popular_search_container {
                flex-grow: 1;
                max-width: 48%;

                ul {
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        .search_container {
            display: none;
        }

        .list_container {
            width: 100%;
            left: 0;
            top: 60px;
            .recent_search_container {
                max-width: 98%;
                border-right: none;
            }
            .popular_search_container {
                display: none;
            }
        }

        .search_container_mb {
            display: block;
        }
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        .search_container {
            display: none;
        }

        .list_container {
            width: 100%;
            left: 0;
            top: 60px;
            .recent_search_container {
                max-width: 98%;
                border-right: none;
            }
            .popular_search_container {
                display: none;
            }
        }

        .search_container_mb {
            display: block;

            .search_component {
                input[type="text"] {
                    width: calc(90% - 16px);
                }
            }
        }
    }
}

.hide_list {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}